p {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.footer {
    width: 100%;
    padding: 10px 0 10px 0;
    background-color: rgb(3, 139, 230);
    color: white;
    position:relative;
    bottom: 0;
    pointer-events: none;
}

h1 {
    font-size: 24px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}