<app-header></app-header>
<body>
    <div class="form">
        <h2>Nome Completo</h2> <input type="text"> <br>
        <h2>E-mail</h2> <input type="text"> <br>
        <h2>Telefone</h2> <input type="number"> <br>
        <h2>Data de Nascimento</h2> <input type="date"> <br>
        <h2>Usuário</h2> <input type="text"> <br>
        <h2>Senha</h2> <input type="password"> <br>
        <h2>Confirmar senha</h2> <input type="password"> <br>
        <br>
        <input class="wrap" type="checkbox"> <p class="wrap"> <em>Aceito os <strong>Termos</strong> e <strong>Condições</strong> de inscrição</em></p><br>
        <br>
        <button>Inscrever-se</button>
    </div>
</body>
<app-footer></app-footer>