<head>
<title>Hello World</title>
</head>
<body>
  <div class="main">
  <div class="title">
  <h1>Hello World</h1>
  </div>
  <div class="menu">
    <button>Lorem</button>
    <button>ipsum</button>
    <button>dolor</button>
    <button>sit</button>
    <button>amet</button>
  </div>
  <div class="lorem">
  <h1>Lorem Ipsoum dolor</h1>
  <p> 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt convallis neque eget malesuada. Etiam laoreet, tellus ut aliquet consectetur, elit velit faucibus leo, quis commodo lorem nibh eget massa. Pellentesque maximus augue in nibh imperdiet, in tincidunt sem rutrum. Phasellus vitae sem porttitor, cursus nulla id, accumsan nisi. Etiam a mi eu orci placerat mollis. Morbi eget semper arcu, vitae finibus metus. Aenean eget finibus sapien, ut rhoncus libero. Ut sed gravida urna, ut euismod erat. Fusce faucibus nulla nec fermentum consequat. Nam vestibulum massa in placerat varius. Ut tincidunt metus non tempor dignissim.
<br>
<br>
Etiam finibus diam eget molestie iaculis. Nunc quis vehicula erat. Vivamus ultrices ac nisl sed bibendum. Sed varius viverra est eu venenatis. Proin eu enim metus. Phasellus a ipsum mollis risus scelerisque auctor a sit amet arcu. Aliquam porttitor, elit sit amet egestas eleifend, elit lacus molestie lacus, id bibendum augue risus condimentum risus. Donec vitae suscipit enim, sit amet porttitor urna.
  </p>
</div>
  <div class="footer">
    <p class="footer">Developted by Guilherme Ribeiro de Souza</p>
  </div>
  </div>
</body>